{{#each content key="@guid" as |option|}}
	{{radio-button content=option}}
	{{#liquid-if option.label}}
		<label {{bind-attr for=option.labelID}}>{{option.label}}</label>
	{{/liquid-if}}
{{/each}}

{{yield}}
