{{#liquid-if title}}
	<h1 class="wizard-step-title">
		{{title}}
		{{#liquid-if stepName}}
			<span class="wizard-step-name">{{stepName}}</span>
		{{/liquid-if}}
	</h1>
{{/liquid-if}}

{{#liquid-if totalSteps}}
	<span class="total-steps">
		of {{totalSteps}}
	</span>
{{/liquid-if}}

{{yield}}
