{{#if stepName}}
	<h1 class="wizard-step-title">
		<span class="wizard-step-name">{{stepName}}</span>
	</h1>
{{/if}}

{{#if totalSteps}}
	<span class="wizard-step-meta">
		Step
		<span class="wizard-step-current-step">
			{{step}}
		</span>
		<span class="total-steps">
			of {{totalSteps}}
		</span>
	</span>
{{/if}}

{{yield}}
