/* Imports */
@require "helpers/index" // Import all dependencies: variables, mixin/placeholder helpers, and browser support configuration

@require "components/animations/fading_entrances/*" // import basic fade animations; pick and choose as necessary, or import all animations by importing animation/index
@require "components/animations/attention_seekers/shake"

@require "components/*" // import all components; pick and choose as needed
@require "layout/*" // import all layout styles

$material-box
	@extend $fadeInUp
	background $bodyBackground
	margin 0 auto
	border 1px solid #EAEAEA
	max-width 55em
	box-shadow 0 0.1em 0.2em 0 rgba(0,0,0,0.12), 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.26)

.box
	@extend $material-box

.form-step
	border-bottom 1px solid #E2E2E2
	> .form-field-horizontal
		+media-query($breakpointMain)
			display flex
		.form-field-controls
			float right
	&s
		@extend $material-box
		list-style-type decimal
.asset, .liability, .applicant-card, .income
	@extend $fadeIn

.liabilities, .assets, .properties, .employment
	@extend $normal-margin

.announcement
	text-align center
	line-height 3

.agent
	&-callout
		@extend $fadeInUp
		animation-delay 0.3s
		&-name
			+media-query($breakpointMain)
				font-size 1.7em
		&-image
			float right
			margin 0 0 0 3em
			border-radius 50%
			+media-query($breakpointMain)
				float none
		flex 1
		padding 3em
		+media-query($breakpointMain)
			padding $padding
		@extend $border-box
		text-align right
		&-name
			font-size 2.2em
		&-email
			background transparent
			display block
			transition background 0.3s ease, transform 0.3s ease, filter 0.3s ease
			transform scale(1)
			position relative
			display initial
			&:before
				content $icon-mail5
				@extend $icomoon
				position absolute
				font-size 6.4em
				right 50%
				color transparentify(white, 0.75)
				transform scale(0)
			&:hover
				background transparentify(black, 0.2)
				&:before
					transform scale(1)
				transform scale(1.2)
				-webkit-filter grayscale(1)
				filter grayscale(1)
		&-phone
			.phone-number
				color inherit
				font-weight bold
.header
	&-action
		margin 3em
		+media-query($breakpointMain)
			display none
.disclaimer
	&.accepted
		background rgb(0, 148, 255)
	margin 3em 0
	background rgb(255, 136, 0)
	padding 1em
	transition $transitionTime background $transitionFunction
	color white
	box-shadow 0 0.1em 0.2em 0 rgba(0,0,0,0.12), 0 0.1em 0.3em 0 rgba(0,0,0,0.26)
.info
	@extend $normal-padding
	font-weight bold
