/* Imports */
@require "helpers/index" // Import all dependencies: variables, mixin/placeholder helpers, and browser support configuration

@require "components/animations/fading_entrances/*" // import basic fade animations; pick and choose as necessary, or import all animations by importing animation/index
@require "components/animations/attention_seekers/shake"
@require "components/animations/attention_seekers/pulse"
@require "components/*" // import all components; pick and choose as needed
@require "layout/*" // import all layout styles

.agent-page
	header[role="banner"]
		align-items center
		padding 2em
		h1
			+media-query($breakpointMain)
				margin-bottom 1em
			font-size 2em
$material-box
	@extend $fadeInUp
	background $bodyBackground
	margin 0 auto
	border 1px solid #EAEAEA
	max-width 55em
	box-shadow 0 0.1em 0.2em 0 rgba(0,0,0,0.12), 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.26)

.box
	@extend $material-box

.quick-application
	+media-query($breakpointMain)
		margin 2em

.form-step
	border-bottom 1px solid #E2E2E2
	> .form-field-horizontal
		+media-query($breakpointMain)
			display flex
			.form-field-controls
				width inherit
				margin-right 3em
		.form-field-controls
			float right
	&s
		@extend $material-box
		list-style-type decimal
		&-container
			margin 2em
.asset, .liability, .applicant-card, .income, .historical-employment, .applicant-card-finances-total
	& + &
		@extend $normal-margin-top
	@extend $fadeIn

.liabilities, .assets, .properties, .employment
	@extend $normal-margin

.announcement
	text-align center
	margin 1em
	+media-query($breakpointMain)
		font-size 2.2em

.agent, .brokerage
	&-callout
		@extend $fadeInUp
		animation-delay 0.3s
		&-link
			color inherit
		&-name
			+media-query($breakpointMain)
				font-size 1.7em
		&-image
			float right
			margin 0 0 0 3em
			border-radius 0.2em
			max-height 6em
			+media-query($breakpointMain)
				float none
		flex 1
		padding 3em
		+media-query($breakpointMain)
			padding $padding
		@extend $border-box
		text-align right
		&-name
			font-size 2.2em
		&-email
			background transparent
			transition background 0.3s ease, transform 0.3s ease, filter 0.3s ease
			transform scale(1)
			position relative
			display initial
			&:before
				content $icon-mail5
				@extend $icomoon
				position absolute
				font-size 6.4em
				right 50%
				color transparentify(white, 0.75)
				transform scale(0)
			&:hover
				background transparentify(black, 0.2)
				&:before
					transform scale(1)
				transform scale(1.2)
				-webkit-filter grayscale(1)
				filter grayscale(1)
		&-phone
			.phone-number
				color inherit
				font-weight bold
.brokerage
	&-callout
		padding 1em
		&-phone
			display block
		&-image
			-webkit-filter grayscale(1) invert()
			-moz-filter grayscale(1) invert()
			filter grayscale(1) invert()
			max-width 15em
			margin-bottom 0.4em
			border-radius initial
			float none
.agent
	&-callout
		&-link
			transition $transitionTime $transitionFunction border-color
			border-bottom 1px solid transparent
			&:hover
				border-color currentColor
.header
	&-action
		margin 3em
		+media-query($breakpointMain)
			display none
.disclaimer
	&.accepted
		background rgb(0, 148, 255)
	margin 3em auto
	max-width 75em
	background rgb(255, 136, 0)
	padding 1em
	transition $transitionTime background $transitionFunction
	color white
	box-shadow 0 0.1em 0.2em 0 rgba(0,0,0,0.12), 0 0.1em 0.3em 0 rgba(0,0,0,0.26)
.info
	@extend $normal-padding
	font-weight bold
.loader
	@extend $fadeInUp
	&-text
		@extend $fadeIn
		animation-delay 1s

.editable-link
	@extend $relative
	border-bottom $borderWidth dotted
	cursor pointer
	opacity 0.9
	transition opacity $transitionTime $transitionFunction
	&:after
		content $icon-pencil
		@extend $icomoon, $small-margin-left, $absolute
		right -1.2em
		top 0.3em
		opacity 0
	&:hover
		color $linkColour - 70
		opacity 1
		border-width ($borderWidth * 2)
		&:after
			opacity 1
.option
	&-separator
		font-size 5em
		text-transform uppercase
		font-weight $headingFontWeight
.address
	&-details
		flex 1
	&-header
		& + .address-details
			margin-left 1em
	&-details-container
		@extend $fadeInUp, $border-box, $normal-padding, $normal-margin-top, $flex
	&-postal-code, &-country, &-province
		@extend $inline-block
