/* Imports */
@require "helpers/index" // Import all dependencies: variables, mixin/placeholder helpers, and browser support configuration

@require "components/animations/fading_entrances/*" // import basic fade animations; pick and choose as necessary, or import all animations by importing animation/index
@require "components/animations/attention_seekers/shake"

@require "components/*" // import all components; pick and choose as needed
@require "layout/*" // import all layout styles

$material-box
	@extend $fadeInUp
	background $bodyBackground
	margin 0 auto
	border 1px solid #EAEAEA
	max-width 55em
	box-shadow 0 0.1em 0.2em 0 rgba(0,0,0,0.12), 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.26)

.box
	@extend $material-box

.form-step
	border-bottom 1px solid #E2E2E2
	> .form-field-horizontal
		.form-field-controls
			float right
	&s
		@extend $material-box
		list-style-type decimal
.asset, .liability, .applicant-card
	@extend $fadeIn

.liabilities, .assets, .properties
	@extend $normal-margin

.announcement
	text-align center
	line-height 3
