$addressInputMaxWidth ?= 100%
$addressInputMinWidth ?= 16em

.address-input
	min-width $addressInputMinWidth
	max-width $addressInputMaxWidth
	transition 0.4s all linear
	&:before
		background url($icon-pin)
		margin 0 0.4em
	&.autocompleted
		border-color green
		border-bottom-width 2px
.address-details-container
	border 1px solid #ccc
