$addressInputMaxWidth ?= 100%
$addressInputMinWidth ?= 16em

.address-input
	min-width $addressInputMinWidth
	max-width $addressInputMaxWidth
	transition 0.4s all linear
	&:before
		content $icon-pin
		margin 0 0.4em
		@extend $icomoon
	&.autocompleted
		border-color green
		border-width 2px
