$addressInputMaxWidth ?= 100%
$addressInputMinWidth ?= 11em

.address-input
	min-width $addressInputMinWidth
	max-width $addressInputMaxWidth
	border inherit
	transition 0.4s all linear
	&.autocompleted
		border 1px solid green
