/*
smart-app

applicant-summary.styl

Author: michael

Created on 04/05/2015 by PhpStorm
*/

.applicant-summary
	&-personal-info
		margin-bottom 1em
		padding-bottom 1em
		border-bottom 1px rgba(204, 204, 204, 0.38)
		border-style solid
	&-joint
		&-income
			border-bottom 1px solid #E2E2E2
			padding 1em
.application-summary
	.table-header
		text-align right
	income-table .table-header
		position absolute
		top 0
		right -1em
