/*
smart-app

applicant-card.styl

Author: michael

Created on 17/04/2015 by PhpStorm
*/

$applicantCardMinWidth ?= 25em


.applicant
	&-card
		min-width $applicantCardMinWidth
		border 1px solid currentColor
