/*
smart-app

applicant-card.styl

Author: michael

Created on 17/04/2015 by PhpStorm
*/

$applicantCardMinWidth ?= 15em
$applicantCardMaxWidth ?= 40em

.applicant
	display inline-block
	margin 1em
	&s
		display flex
		+media-query($breakpointMain)
			display block
	+media-query($breakpointMain)
		max-width inherit
		&s &, &s &-card, &-summary &-card
			display block
	&-card
		position relative
		&-relationship
			transition transform 0.4s ease, opacity 0.4s ease
			content $icon-link
			position absolute
			font-size 4em
			top 50%
			left -1em
			opacity 0.6
		&.co-applicant
			transform scale(0.9)
			&:before
				transition transform 0.4s ease, opacity 0.4s ease
				background url($icon-link)
				position absolute
				font-size 3em
				top 50%
				left -1.4em
				transform rotate(45deg)
				opacity 0.6
		&.primary-applicant
			.applicant-card-role
				position absolute
				top 0
				right 0
		display inline-block
		vertical-align top
		&-full-name
			text-align center
		&-header
			padding 1.2em
			& + .applicant-card-details
				margin-top 1em
			background rgb(43, 226, 226)
			color white
		&-role
			color inherit
			float right
			font-weight 300
			font-size 0.8rem
			border 1px solid currentColor
			padding 0 0.6rem
			line-height 1.6
			margin 0 0 1rem 0
			text-transform uppercase
			vertical-align top
			display inline-block
		&-title
			text-align center
			line-height 3
			font-size 2.2em
		&-image
			display block
			margin 0 auto
			border-radius 50%
		&-actions
			1px solid rgba(160,160,160,0.2)
			padding 1.2em
		&-finances
			text-align center
			color white
			display flex
			&-value
				overflow-x hidden
				text-overflow ellipsis
				display block
			&-title
				display block
				font-size 1.5em
			&-total
				padding 1em
				flex 1
			.total
				&-income
					background rgb(1, 128, 75)
				&-assets
					background rgb(1, 128, 128)
				&-liabilities
					background rgb(255, 136, 0)
			&-icon
				display block
				font-size 1.4em
		margin 0.5rem 0 1rem
		background white
		box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
		border-radius 0.1em
		min-width $applicantCardMinWidth
		max-width $applicantCardMaxWidth
