/*
	smart-app

	income-instance.styl

	Author: Sean

	Created on 08/05/2015 by PhpStorm
*/

.income
	&-table
		&-total
			text-align right
	&-subtotal
		text-align right
income-table
	.table-header
		padding 0
		float right
	&.empty
		display flex
	display block

income-instance
	display block
	.editable-link
		display table
