/*
	stylus-boilerplate

	loaders.styl

	Author: Sean Goresht

	Centred <progress> styles and loader layout styles
*/
$loaderTextColour ?= black
$loaderTextFontSize ?= 2.2em
$loaderTextMargin ?= 1em

.loader
	&-container
		flex 1
		display flex
		min-height 100vh
		box-orient horizontal
		flex-direction column
		align-items center
		justify-content center
	color $loaderTextColour
	display flex
	justify-content center
	flex 1
	flex-direction column
	align-items center
	&-bar
		cursor wait
		width 100%
	&-text
		font-size $loaderTextFontSize
		margin-top $loaderTextMargin
