/*
smart-app

on-off-switch.styl

Author: michael

Created on 15/04/2015 by PhpStorm
*/

$switchIsRounded ?= true
$switchBorderRadius ?= 1em
$switchAccentAmount ?= 30
$switchBackground ?= #D4D4D4
$switchEnabledBackground ?= #38cd6b
$switchDisabledBackground ?= #cd5c5c
$switchColour ?= dark($switchBackground) ? black : white

$switchBorderStyle ?= solid
$switchBorderWidth ?= 1px
$switchBorderColour ?= dark($switchBackground) ? ($switchBackground + ($switchAccentAmount / 2)) : ($switchBackground - ($switchAccentAmount / 2))
$switchBorder ?= $switchBorderWidth $switchBorderStyle $switchBorderColour

$switchMinWidth ?= 5em
$switchMargin ?= 1em
$switchPadding ?= 0.3em 1em
$switchTransitionTime ?= 0.5s
$switchFontSize ?= 0.8em

$switchDisabledState
	background $switchDisabledBackground ? $switchDisabledBackground : $switchBackground
	if $switchDisabledBackground
		color dark($switchDisabledBackground) ? black : white
	font-weight inherit
$switchEnabledState
	background $switchEnabledBackground ? $switchEnabledBackground : (dark($switchBackground) ? ($switchBackground + $switchAccentAmount) : ($switchBackground - $switchAccentAmount))
	if $switchEnabledBackground
		color dark($switchEnabledBackground) ? black : white
	font-weight bold


.on-off-switch
	margin 0 $switchMargin
	min-width $switchMinWidth
	cursor pointer
	&:before, &:after
		font-size $switchFontSize
		color $switchColour
		text-transform uppercase
		border $switchBorder
		padding $switchPadding
		transition background $switchTransitionTime ease, border $switchTransitionTime ease, transform $switchTransitionTime ease
	&:before
		content attr(offmessage)
		@extend $switchDisabledState
		if $switchIsRounded is true
			border-top-left-radius $switchBorderRadius
			border-bottom-left-radius $switchBorderRadius
	&:after
		content attr(onmessage)
		background $switchBackground
		if $switchIsRounded is true
			border-top-right-radius $switchBorderRadius
			border-bottom-right-radius $switchBorderRadius
	&:checked
		&:before
			background $switchBackground
		&:after
			@extend $switchEnabledState
