/*
smart-app

on-off-switch.styl

Author: michael

Created on 15/04/2015 by PhpStorm
*/

.on-off-switch
	&:after
		font-weight bold
		content: attr(offMessage)
		margin-left 1.4em
	&.checked
		&:after
			content: attr(onMessage)
			font-weight normal
			color green
