/*
	smart-app

	property-table.styl

	Author: Sean

	Created on 2015-08-18 by PhpStorm
*/

.property-table
	.table-header
		& + *
			clear both
		+media-query(only screen, min-width 767px)
			h4
				float left
