/*
	smart-app

	property-asset.styl

	Author: Sean

	Created on 2015-08-18 by PhpStorm
*/
.property
	&-asset
		&-actions
			padding 1em
			text-align right
		& ~ &
			padding-top 1em
			border-top 1px solid #cccccc
