/*
	smart-app

	vehicle-asset.styl

	Author: Sean

	Created on 2015-08-14 by PhpStorm
*/
.vehicle
	&s
		margin-bottom 1em
	&-asset
		display table-cell
		+media-query($breakpointMain)
			display initial
