/*
smart-app

wizard-step.styl

Author: michael

Created on 15/04/2015 by PhpStorm
*/
.wizard
	&-step
		&s
			display block
			&-progress
				display inherit
				width 100%
				position absolute
				height 0.2em
				appearance none
				border 0
				&::-moz-progress-bar, &::-webkit-progress-bar
					background transparent !important
				&::-moz-progress-value, &::-webkit-progress-value
					background white !important
		padding 4em
		&-current-step
			font-weight bold
		&-name
			font-weight bold
		&-title
			display block
			font-size 2em
		.total-steps
			font-size 0.8em
			display inline-block
