/*
smart-app

wizard-step.styl

Author: michael

Created on 15/04/2015 by PhpStorm
*/
.wizard
	&-step
		padding 7%
		&-current-step
			font-weight bold
		&-name
			font-weight bold
		&-title
			display inline-block
			font-size 2em
		.total-steps
			font-size 0.8em
			display inline-block
