/*
	stylus-boilerplate

	forms.styl

	Author: _admin

	Created on 2014-12-23 by PhpStorm
*/
$inputSuccessColour ?= #00cc1c
$inputErrorColour ?= #dc5b20

form
	margin 2em
	+media-query($breakpointMain)
		margin inherit
button
	@extend .button
	font-family $baseFontFamily
.input
	&-error
		color $inputErrorColour
		display inline-block
		font-weight bold
		@extend $pulse
		animation-duration 0.3s
$textInput
	max-width 100%
	border-width 0 0 $borderWidth 0
	color inherit
	background transparent
	border-color rgb(238, 238, 238)
fieldset
	@extend $normal-padding, $bordered-top
textarea
	@extend $textInput
	border-bottom-color #D6D6D6
	width 100%
textarea, input
	&[type="text"], &[type="tel"], &[type="url"], &[type="number"], &[type="email"], &[type="date"], &[type="datetime-local"], &[type="week"], &[type="month"], &[type="password"], &[type="file"]
		@extend $textInput
	&[type="number"]
		&[max="100"]
			max-width 3em
	transition $transitionTime $transitionFunction border-color, outline-color
	font-size $unit
	font-family $baseFontFamily
	&:focus
		outline-width inherit
		&:valid
			border-color $inputSuccessColour
		&:invalid
			border-color $inputErrorColour
			outline-color $inputErrorColour
	+placeholder()
		font-family $baseFontFamily
		color luminosity($textColour) > 0.5 ? $inverseTextColour + 45 : $inverseTextColour - 45
.remove-button
	@extend .button-error
.add-button, .remove-button
	+media-query($breakpointMain)
		display block
		width 100%
		float none
		margin $margin 0
	&:active
		transform scale(1.05)
.add-applicant
	float right
	+media-query($breakpointMain)
		float none
		margin 1em auto 0 auto
		width 95%
.sub-actions
	@extend $normal-margin, $float-left
