/*
	stylus-boilerplate

	layout.styl

	Author: Sean

	Created on 2014-11-17 by PhpStorm
*/
.container
	@extend $border-box
header
	&[role="banner"]
		background rgb(0, 129, 255)
		transition background 0.5s ease
		&[data-current-step="1"]
			background #cd5c5c
		&[data-current-step="2"]
			background #38cd6b
		&[data-current-step="3"]
			background rgba(205, 97, 50, 1)
		&[data-current-step="4"]
			background #00A7C5
		color white
		@extend $flex
		align-items center
		flex-wrap wrap
		justify-content space-between
		+media-query($breakpointMain)
			position relative
			.wizard-step
				padding $padding
				&s
					&-progress
						bottom 0
	for num in (6..1)
		h{num}
			@extend $margin-none
footer
	&[role="contentinfo"]
		opacity 0.8
		font-size 0.8em
		@extend $normal-padding, $border-box, $text-align-center
		background #E4E4E4
		details
			summary
				cursor pointer
		address
			small
				@extend $block
			white-space nowrap
main
	min-height calc(s("100vh - 16.5em"))

.error
	&-container
		max-width 35em
		@extend $normal-padding, $border-box
	&-description
		@extend $normal-margin-top-bottom
	&-title
		@extend $shake, $text-align-center
		color rgb(187, 89, 89)
		font-weight bold
	&-stack
		@extend $normal-padding, $border-box, $normal-margin

.thank-you
	padding 4em
	@extend $text-align-center
	&-header, &-details
		margin-bottom 4em

.application
	&-summary
		+media-query($breakpointMain)
			margin $margin
