/*
	stylus-boilerplate

	layout.styl

	Author: Sean

	Created on 2014-11-17 by PhpStorm
*/
.container
	box-sizing border-box
header
	&[role="banner"]
		background rgb(0, 129, 255)
		color white
	for num in (6..1)
		h{num}
			@extend $margin-none
.header-action
	position absolute
	top 10em
	right 10em
