<div class="loader-container">
	<figure class="loader">
		<img src = "assets/img/loading-cyclon.svg" class="loader-bar" alt = "Loading"/>
		<figcaption class="loader-text">Loading</figcaption>
	</figure>
</div>

{{outlet}}
