<header class="application-review">
	<h1>Here's what we got so far:</h1>
</header>
{{#validatable-form action="nextStep"}}
	{{#each applicant in model.applicants}}
		{{applicant-card applicant=applicant}}
		{{else}}
			<p>No applicants found.</p>
	{{/each}}
	{{#form-field title="Comments"}}
		{{textarea value=model.comment placeholder="Anything else to add?" id="comments"}}
	{{/form-field}}
	<footer class="form-actions">
		<button type="submit">Review Application</button>
	</footer>
{{/validatable-form}}
{{outlet}}
