<article>
	<section class="quick-application box">
		{{#validatable-form action="nextStep"}}
			<div class="row">
				{{#form-field title="First Name" class="one-half"}}
					{{input value=applicant.firstName placeholder="First Name" required="required" autofocus="autofocus" id="first-name"}}
				{{/form-field}}
				{{#form-field title="Last Name" class="one-half"}}
					{{input value=applicant.lastName placeholder="Last Name" required="required" id="last-name"}}
				{{/form-field}}
			</div>
			{{#form-field title="Email"}}
				{{input value=applicant.email required="required" type="email" placeholder="Email" id="email"}}
			{{/form-field}}
			{{#form-field title="Phone"}}
				{{input value=applicant.phone type="tel" required="required" type="username" placeholder="Phone" id="phone"}}
			{{/form-field}}
			<footer class="form-actions">
				<button type="submit" title="Continue to Full Application">Continue Application</button>
				<div class="sub-actions">
					<a href="tel:15555555555" title="Call me on my cell phone">or call me</a>
				</div>
			</footer>
		{{/validatable-form}}
	</section>
</article>
