<div class="loader-container">
	<div class="loader">
		{{partial "partials/loading-cyclon"}}
		<span class="loader-text">Redirecting you to your new mortgage application</span>
	</div>
</div>

{{outlet}}
