{{accessible-icon icon="warning-sign" title="Error"}}
<header class="row align-middle">
	<h1>Error {{error}}</h1>
</header>

<main role="main">
	<p>Looks like we just encountered the error <strong>{{error}}</strong>.</p>
	<p>Here's the error we got:</p>
	{{#if stack}}
		<pre>
			<code>{{stack}}</code>
		</pre>
	{{/if}}
</main>
