<header role="banner">
	<h1>Mortgage Application</h1>
	<button {{action "sendIncomplete"}}>Submit Application As-is</button>
</header>

<datalist id="lenders">
	{{#each lender in lenders}}
		<option {{bind-attr value=lender}}></option>
	{{/each}}
</datalist>
<main role="main">
	{{liquid-outlet}}
</main>
